<div id="fb3d-ctx" class="flip-book htmlWelcome">
  <div class="view">
    <div class="fnav">
      <div class="prev">
        <a class="cmdBackward" href="#"><span class="icon"><i class="fas fa-chevron-left" title="<$tr>Previous page</$tr>"></i></span></a>
      </div>
      <div class="next">
        <a class="cmdForward" href="#"><span class="icon"><i class="fas fa-chevron-right" title="<$tr>Next page</$tr>"></i></span></a>
      </div>
    </div>
    <div class="widLoadingProgress loading-progress hidden">
      <div class="progress">
      </div>
      <div class="txtLoadingProgress caption">
      </div>
    </div>
    <div class="widLoading page-loading hidden">
    </div> 
  </div>

  <div class="widFloatWnd float-wnd hidden">
    <div class="header">
      <$tr>Table of contents</$tr>
      <a href="#" title="<$tr>Close</$tr>" class="close cmdCloseToc">
        <span class="icon"><i class="fas fa-times"></i></span>
      </a>
    </div>
    <div class="body">
      <div class="ctrl">
        <div class="toc">
          <div class="toc-menu widTocMenu">
            <ul>
              <li class="cmdBookmarks"><a href="#"><$tr>Marcadores</$tr></a></li>
              <li class="cmdThumbnails"><a href="#"><$tr>Miniaturas</$tr></a></li>
              <li class="cmdSearch"><a href="#"><$tr>Busqueda</$tr></a></li>
            </ul>
          </div>
          <div class="widBookmarks toc-view">

          </div>
          <div class="widThumbnails toc-view">

          </div>
          <div class="widSearch toc-view">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="controls">

    <div class="ctrl js-center">
      <nav class="fnavbar">
        <ul class="fnav">

          <li class="fnav-item cmdZoomIn"><a href="#"><span class="icon"><i class="fas fa-search-plus" title="<$tr>Mas Zoom</$tr>"></i></span></a></li>
          <li class="fnav-item cmdZoomOut"><a href="#"><span class="icon"><i class="fas fa-search-minus" title="<$tr>Menos Zoom</$tr>"></i></span></a></li>
          <li class="fnav-item cmdDefaultZoom"><a href="#"><span class="icon"><i class="fas fa-compress" title="<$tr>Vista Ajustada</$tr>"></i></span></a></li>
          <li class="fnav-item cmdToc"><a href="#"><span class="icon"><i class="fas fa-bookmark" title="<$tr>Tabla de contenidos</$tr>"></i></span></a></li>
          <li class="fnav-item cmdFastBackward"><a href="#"><span class="icon"><i class="fas fa-fast-backward" title="<$tr>10 paginas atras</$tr>"></i></span></a></li>
          <li class="fnav-item cmdBackward"><a href="#"><span class="icon"><i class="fas fa-backward" title="<$tr>Pagina anterior</$tr>"></i></span></a></li>
          <li class="fnav-item">
            <div class="pages">
              <input type="text" class="number inpPage" maxlength="4" placeholder="1">
              <input type="text" class="amount inpPages" readOnly maxlength="4" placeholder="1">
            </div>
          </li>
          <li class="fnav-item cmdForward"><a href="#"><span class="icon"><i class="fas fa-forward" title="<$tr>Siguiente Pagina</$tr>"></i></span></a></li>
          <li class="fnav-item cmdFastForward"><a href="#"><span class="icon"><i class="fas fa-fast-forward"  title="<$tr>10 pages forward</$tr>"></i></span></a></li> 
          <li class="fnav-item cmdPrint"><a href="#"><span class="icon"><i class="fas fa-print"  title="<$tr>Imprimir</$tr>"></i></span></a></li>
          <li class="fnav-item cmdFullScreen"><a href="#"><span class="icon"><i class="fas fa-arrows-alt" title="<$tr>Pantalla Completa</$tr>"></i></span></a></li>
          <li class="dropup fnav-item toggle widSettings" style="display: none;">
            <a href="#"><div class="icon-caret"><span class="icon"><i class="fas fa-cog" title="<$tr>Settings</$tr>"></i> <i class="caret"></i></span></div></a>
            <ul class="menu hidden">
              <li  class="cmdSmartPan"><a href="#"><span class="icon"><i class="fas fa-eye"></i></span> <$tr>Vista Completa</$tr></a></li>
              <li  class="cmdSinglePage"><a href="#"><span class="icon"><i class="fas fa-file"></i></span> <$tr>Una Pagina</$tr></a></li>
              <li  class="cmdSounds"><a href="#"><span class="icon"><i class="fas fa-volume-up"></i></span> <$tr>Sonidos</$tr></a></li> 
              <li class="divider"></li>
              <li  class="cmdLightingUp"><a href="#"><span class="icon"><i class="fas fa-chevron-up"></i></span> <$tr>Aumentar Brillo</$tr></a></li>
              <li  class="cmdLightingDown"><a href="#"><span class="icon"><i class="fas fa-chevron-down"></i></span> <$tr>Reducir Brillo</$tr></a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

  </div>
   <div id="stars"></div><div id="stars2"></div><div id="stars3"></div>
</div>
